@import url("https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* div,
section,
aside {
  border: 1px solid white;
} */
body {
  font-family: "Metal Mania", serif;
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #000000;
  /* background: linear-gradient(to right, #eae0d5, #fff441); */
  display: flex;
  justify-content: center;
  align-items: center;
}
.instruction {
  position: absolute;
  top: 1rem;
  color: #5c7d33;
  left: 20%;
}

.count-down {
  position: absolute;
  margin-left: 3rem;
  font-weight: 900;
  top: 2rem;
  right: 4rem;
  font-size: 2.5rem;
}

.colors {
  width: 100%;
  height: 90px;
  border-radius: 10px;
  box-shadow: inset #74480f 3px 3px 6px 1px, inset #6e749b4d -2px -2px 6px 0;
  border: none;
}
.colors:hover {
  filter: contrast(150%);
}
.colors:active {
  border: none;
  outline: none;
}
.color-palette {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #89580a;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
  width: 200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding-inline: 1rem;
  box-shadow: inset #74480f 3px 3px 12px 1px, inset #d1d1d1 -2px -2px 12px 0;
}
.select-board {
  width: 80px;
  height: 80px;
  border: 10px solid #89580a;
  position: absolute;
  left: 20%;
  border-radius: 5px 15px 5px 15px;
}
.correct-display {
  width: 20%;
  height: 50%;
  position: absolute;
  border: 10px solid #89580a;
  border-radius: 50%;
  top: 4rem;
  left: 40%;
  filter: blur(3px);
  box-shadow: inset #74480f 3px 3px 12px 1px, inset #d1d1d1 -2px -2px 12px 0;
}
.message {
  font-size: 3rem;
  position: absolute;
  left: 60%;
  animation: fadeInScale 0.5s ease;
}
@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.start,
.restart {
  width: 500px;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset #74480f 3px 3px 12px 1px, inset #d1d1d1 -2px -2px 12px 0;
  background-color: #74480f;
  border-radius: 2rem;
}
.start-btn,
.restart-btn {
  background-color: #442604;
  width: 10rem;
  height: 3.5rem;
  border: none;
  transition: all 2s ease-in;
  font-size: 1.5rem;
  font-weight: 900;
}
.start-btn:hover,
.restart-btn:hover {
  width: 12rem;
  height: 5rem;
  color: #2f45ff;
}
.start-btn:active,
.restart-btn:active {
  border: none;
  transform: translate(1rem, 1rem);
}
.number-display {
  background-color: #74480f;
  height: 4rem;
  width: 8rem;
  position: absolute;
  bottom: 2rem;
  right: 4rem;
  box-shadow: inset #74480f 3px 3px 12px 1px, inset #d1d1d1 -2px -2px 12px 0;
  border-radius: 1rem;
  display: grid;
  place-content: center;
}
.number {
  font-size: 2.5rem;
  color: #000000;
}
/* small phones responsiveness */
@media (max-width: 480px) {
  body {
    padding-block: 1rem;
  }
  .instruction {
    margin-left: -1.5rem;
    font-size: 3.5rem;
    top: 2rem;
    color: #5c7d33;
  }
  .color-palette {
    top: 69%;
    border-radius: 25px 25px 0px 0px;
    height: 200px;
    gap: 10px;
    padding-block: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .colors {
    width: 100%;
    height: 100%;
  }
  .select-board {
    width: 50px;
    height: 60px;
    left: 2rem;
    bottom: 35%;
    border-radius: 50%;
  }
  .correct-display {
    width: 60%;
    height: 35%;

    transform: translate(-70px, 70px);
  }
  .message {
    left: 8rem;
    bottom: 35%;
  }

  .count-down {
    font-size: 3rem;
    top: 8rem;
    right: 88%;
  }
  .number-display {
    bottom: 35%;
    right: 1rem;
    width: 5rem;
    height: 3rem;
  }
  .number {
    font-size: 1.7rem;
  }
  .count-down {
    font-size: 3.5rem;
  }
  .start {
    width: 90vw;
    height: 30vh;
  }
}
